#about-us {
    background-image: url('ari2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 1700px;
    height: 900px;
    animation: fadeIn 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

.button {
    background-color: #4b0de9; /* Green background color */
    border: none; /* No borders */
    color: white; /* White text color */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Make it display as an inline-block element */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Space between buttons */
    cursor: pointer; /* Make the cursor change to a pointer on hover */
    transition-duration: 0.4s; /* Add a transition effect */
  }
  
  .button:hover {
    color: rgb(14, 149, 217); /* Change the font color to red on hover */
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}