
#gallery {
    background-image: url('ari.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: fadeIn 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Add a transition effect when hovering over the images */ 
.gallery img:hover { 
    transform: scale(1.1); 
} 